<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      autoReload="true"
      internalLogFile="${basedir}/logs/Nlog${shortdate}.log"
      internalLogLevel="Error"
      internalLogToConsole="false"
      
      >


  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
  
1.   Trace－最常见的记录信息，一般用于普通输出；
2.   Debug－同样是记录信息，不过出现的频率要不Trace少一些，一般用来调试程序；
3.   Info－信息类型的消息
4.   Warn－警告信息，一般用于比较重要的场合 
5.   Error－错误信息
6.   Fatal－致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
   -->
  <variable name="logdir" value="${basedir}/App_Data/logs"/>
  <trace autoflush="false"></trace>
  <targets>
    <target name="LogConsole" xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}|${stacktrace}|${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=ToString}}"/>
    <target name="LogFile" xsi:type="File" layout="${longdate}|${level}|${message}|${stacktrace}|${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=ToString}}" fileName="${logdir}/${level}_${shortdate}.log"/>

  </targets>

  <rules>
    <logger name="*"  minlevel="Trace" writeTo="LogConsole" ></logger>
    <logger name="*" minlevel="Trace" writeTo="LogFile"></logger>
  </rules>
</nlog>